.Section {
  width: 100%;
  height: auto;
}

.SectionTitle {
  color: #fff;
  font-weight: bold;
  font-size: 1.6rem;
  padding-left: 40px;
  display: flex;
  background: hsla(38, 81%, 52%, 1);
  background: linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(24, 99%, 68%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(24, 99%, 68%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(38, 81%, 52%, 1) 0%, hsla(24, 99%, 68%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#E89D1F", endColorstr="#FE9E5F", GradientType=1 );
}

.CardList {
  align-items: center;
  height: auto;
  width: 100%;
}

.CardList ul {
  display:flex;
  list-style-type: none;
  margin: 5px 20px;
  padding: 0px;
  width: 100vh;
  height: auto;
  transition: transform 300ms ease 100ms; 
}

.CardList ul li {
  display: flex;
  padding: 0px 0px 0px 20px;
}


@media screen and (max-width: 960px) {
  .Section {
    width: 100%;
    height: auto;
  }
  
  .SectionTitle {
    font-size: 2.2rem;
    padding-left: 40px;
    display: flex;
  }
  
  .CardList {
    display: flex;
    align-items: center;
    height: 20vh;
    width: 100%;
  }
  
  .CardList ul {
    display:flex;
    list-style-type: none;
    margin: 5px 20px;
    transition: transform 300ms ease 100ms; 
    padding: 0px;
    width: 100vh;
    height: auto;
    padding-inline-start: 0px;
  }
  
  .CardList ul li {
    display: flex;
    padding: 0px 0px 0px 20px;
  }
}
