.DetailedCard { }

.DetailedCard .Header {
  height: 10em;
  position: relative;
  background-image:
    linear-gradient(transparent, rgba(0, 10, 0, 0.9)),
    url('https://image.shutterstock.com/image-vector/creative-vector-illustration-math-equation-260nw-1328295644.jpg');
}

.DetailedCard .Header p {
  position: absolute;
  bottom: 0;
  color: white;
  font-size: 2.2em;
  margin-left: 1em;
  font-family: "Lato";
  font-weight: bold;
}

.DetailedCard .Body {
  font-family: "Lato";
  display: flex;
  margin-left: 1em;
}

.DetailedCard .Body .Description {
  flex: 1;
  width: 70%;
}

.DetailedCard .Body .Description .DescriptionTitle {
  margin: 1em 1em 1em 0;
  font-weight: bold;
  text-align: left;
  font-size: 1.5em;
  color: #d5850d;
}

.DetailedCard .Body .Description .DescriptionText {
  margin: 0em 2em 2em 0em;
  text-align: justify;
  text-justify: inter-word;
}

.DetailedCard .Body .Metadata {
  color: white;
  font-family: Lato;
  font-size: 1.4em;
  width: 30%;
  background: rgb(231, 164, 62);
  
}

.DetailedCard .Actions {
  text-align: left;
  margin: 1em 1em 2em 1em;
}

@media screen and (max-width: 960px) {
  .DetailedCard {
  }
  
  .DetailedCard .Header {
    height: 10em;
    position: relative;
    background-image:
      linear-gradient(transparent, rgba(0, 10, 0, 0.9)),
      url('https://image.shutterstock.com/image-vector/creative-vector-illustration-math-equation-260nw-1328295644.jpg');
  }
  
  .DetailedCard .Header p {
    position: absolute;
    bottom: 0;
    color: white;
    font-size: 2.2em;
    margin-left: 1em;
    font-family: "Lato";
    font-weight: bold;
  }
  
  .DetailedCard .Body {
    font-family: "Lato";
    display: inline-block;
    margin-left: 0em;
  }
  
  .DetailedCard .Body .Description {
    flex: none;
    width: auto;
    margin-left: 1em;
  }
  
  .DetailedCard .Body .Description .DescriptionTitle {
    margin: 1em 1em 1em 0;
    font-weight: bold;
    text-align: left;
    font-size: 1.5em;
    color: #d5850d;
  }
  
  .DetailedCard .Body .Description .DescriptionText {
    margin: 0em 2em 2em 0em;
    text-align: justify;
    text-justify: inter-word;
  }
  
  .DetailedCard .Body .Metadata {
    width: 100%;
    background: rgb(231, 164, 62);
    
  }
  
  .DetailedCard .Actions {
    text-align: left;
    margin: 1em 1em 2em 1em;
  }  
}
